.video__title {
    max-width: 322px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 18px;
    margin-top: 0;
    z-index: 3;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
        max-width: 72%;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
        max-width: 295px;
        margin-left: 24px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 425px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
        max-width: 256px;
        margin-left: 16px;
    }
}