.cover__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin:0 auto;
    position: relative;
    z-index: 1;
}


@media screen and (max-width: 1024px) {
    .cover__img {
        height: 562px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .cover__img {
        height: 500px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .cover__img {
        height: 500px;
    }
}

@media screen and (max-width: 425px) {
    .cover__img {
        height: 272px;
    }
}